:host {
  display: grid;
  grid-template-columns: minmax(20rem, 40rem);
  grid-row-gap: 2rem;
  grid-template-rows: auto;
  justify-content: center;
}

app-login-form {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 3rem;
}

.form-result {
  margin-left: 1rem;
  margin-right: 1rem;
}
