<app-login-form (result)="onSubmit($event)"></app-login-form>

<div class="form-result" *ngIf="formValue">
  <h4>Submitted Value</h4>
  <div><strong>Email: </strong><span>{{formValue.email}}</span></div>
  <div><strong>Password: </strong><span>{{formValue.password}}</span></div>
</div>
