<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <mat-card>
    <mat-card-header>
      <mat-card-title>Login Form</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>Email Address</mat-label>
        <input matInput formControlName="email" type="email">
        <mat-error *ngIf="email.hasError('required')">You must enter a value</mat-error>
        <mat-error *ngIf="email.hasError('email')">You must enter a valid email</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password">
        <mat-hint>This password must be 4 to 12 characters long</mat-hint>
        <mat-error *ngIf="password.hasError('required')">You must enter a value</mat-error>
        <mat-error *ngIf="password.hasError('minlength')">Must be between 4 and 12 characters long</mat-error>
        <mat-error *ngIf="password.hasError('maxlength')">Must be between 4 and 12 characters long</mat-error>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions fxLayout="row" fxLayoutAlign="end center">
      <button mat-raised-button color="accent" [disabled]="form.invalid">Login</button>
    </mat-card-actions>
  </mat-card>

</form>
